h1{
	background-image:url(genes.jpg);
	height:230px;
	font-size:60px;
	text-align:left;
	color:#04B486;
	padding-left:20px;
	padding-top:80px;
	margin-bottom:0px;
}

.navbar {
    overflow: hidden;
    background-image:url(genes.jpg);
    font-family: Arial, Helvetica, sans-serif;
	margin-top:0px;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	padding-left:20px;
}

.navbar input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

form.example button {
    float: right;
	height:33px;
    width: 50px;
    padding: 5px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
	margin-top:8px;
}

#nws{
    text-align:center;
	font-size:30px;
	font-weight:bold;
	margin-top:0px;
	font-style:italic;
	color:#61210B;
}

.card{
     float: left;
}

.container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 2px 14px;
  margin-top:0px;

}

.row {
    margin: 10px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .card {
    padding: 8px;
}

/* Create equal columns that floats next to each other */
.card {
    
    width: 33.33%; 
}
.show {
  display: block;
}

.container{
    background-color: #E0F8F7;
    padding: 10px;
}

.container a{
    text-decoration:none;
    color:#8A4B08;
    font-size:20px;	
}

* {
    box-sizing: border-box;
}

.row1{
  display:flex;
  background-color: #424242;
  margin-top:10px;
  padding: 20px;
  font-size: 20px;
  text-align:center;
  justify-content:space-evenly;
}
.row1 li{
	list-style-type:none;
	padding:10px;
}

.row1 li a{
	text-decoration:none;
	color:#ffffff;
	font-style:italic;
}

.logoicn {
	margin-left:600px;	
}

.logoicn a {
	padding:5px;	
	background-color: #424242;
	color:white;
}